.circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    background: red;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
}

.menu {
    text-align: center;
    margin-top: 50px;
}