body{
	margin: 0;
	background: rgba(238,238,238,1);
}

#players{
	margin-top: 100px;
	font-size: 110%;
	margin-left: 20%;
	font-family: 'Tahoma';
}

#players-table{
	width: 70%;
}

tr.image td{
	padding-top: 60px
}

#players-table tr td{
	width: 25%;
	text-align: center;
}

.player1{
	width: 90%;
}